{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "rules":{
        "no-console":0,
        "no-unused-vars":0
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "firebase": true
  }
}
