<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu" ng-if="$ctrl.user">
            <li ng-class="{ active: $ctrl.active('/') }">
                <a ng-href="#/">Home</a>
            </li>
        </ul>
    </div>

    <div class="top-bar-right" ng-if="$ctrl.user">
        <ul class="menu float-right">
            <li ng-class="{ active: $ctrl.active('/about') }">
                <a ng-href="#/about">About</a>
            </li>
            <li>
                <button class="hollow button success" ng-click="$ctrl.signout()">Sign Out</button>
            </li>
        </ul>
    </div>
</div>